.calculator {
  color: hsl(202, 55%, 16%);
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 375px;
  overflow: hidden;
}

h2 {
  margin: 0 0 5px 0;
  padding: 25px 25px 0 25px;
}

@media (min-width: 1024px) {
  .calculator {
    flex-direction: row;
    max-width: 1024px;
    display: flex;
    border-radius: 25px;
    align-items: center;
  }
}
