.form-container {
  display: flex;
  color: hsl(200, 24%, 40%);
  width: 100%;
  flex-direction: column;
  padding: 0 25px 25px 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clear-button {
  background-color: transparent;
  color: hsl(200, 24%, 40%);
  border: none; /* Removes default border */
  border-bottom: 1px solid hsl(200, 24%, 40%);
  padding: 0; /* Removes default padding */
  cursor: pointer; /* Adds a pointer cursor */
  font: inherit; /* Inherits font style from parent */
  text-decoration: none; /* Removes default text decoration */
  display: inline;
  line-height: 17px;
  width: 62px;
  margin-bottom: 30px;
}
