.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.group-label {
  margin-bottom: 8px;
  color: hsl(200, 24%, 40%);
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  border: solid 1px hsl(200, 24%, 40%);
  border-radius: 4px;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  padding: 10px;
  gap: 10px;
  cursor: pointer; /* Gör hela containern klickbar */
}

.radio-container input[type="radio"]:checked {
  border: solid 1px rgba(61, 70, 52, 0.5);
  background-color: hsl(61, 70%, 52%);
}

.radio-container.active {
  background-color: rgba(215, 218, 47, 0.3); /* Gula färgen */
  border: solid 1px hsl(61, 70%, 52%); /* Ändra borderfärgen till gul */
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  outline: 2px solid hsl(202, 55%, 16%);
  outline-offset: 3px;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: hsl(61, 70%, 52%);
}

.error {
  color: hsl(4, 69%, 50%);
  font-size: 14px;
}
