.youreResultContainer {
  display: flex;
  background-color: hsl(202, 55%, 23%);
  color: hsl(203, 41%, 72%);
  flex-direction: column;
  padding: 0 25px 25px 25px;
  gap: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.textContainer span {
  font-size: 15px;
}

.resultContainer {
  background-color: hsl(202, 55%, 16%);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: 20px 12px 0 12px;
  border-radius: 5px;
  border-top: 4px solid hsl(61, 70%, 52%);
  width: 100%;
  gap: 10px;
}

h1 {
  margin: 0px;
  color: hsl(61, 70%, 52%);
}

h3 {
  color: white;
}

.monthly,
.total {
  display: flex;
  flex-direction: column;
}

.separator {
  height: 2px;
  background-color: hsl(200, 24%, 40%);
  width: 100%;
}

/* Styles for the placeholder content */
.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: hsl(202, 55%, 23%);
  padding: 25px 0px;
}

.placeholder img {
  width: 150px; /* Adjust image size as needed */
  margin-bottom: 15px;
  margin: 0;
}

.placeholder p {
  font-size: 16px;
  color: hsl(203, 41%, 72%);
  margin: 0;
}

@media (min-width: 1024px) {
  .results-container {
    width: 100%;
    height: 100%;
    background-color: hsl(202, 55%, 23%);
    align-items: center;
    display: flex;
    border-bottom-left-radius: 80px;
    min-height: 510px;
    padding: 25px;
  }
  .youreResultContainer {
    display: flex;
    background-color: transparent;
  }
}
