.text-input {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  border: solid 1px hsl(200, 24%, 40%);
  border-radius: 4px;
  font-weight: 700;
  justify-content: space-between;
}

/* Active state styles take precedence */
.input-container.active {
  border-color: hsl(61, 70%, 52%);
}

/* Error styles should be overridden by active state */
.input-container.error:not(.active) {
  border: solid 1px hsl(0, 100%, 50%); /* Change border color for error when not active */
}

/* Error styles for the input label */
.input-label.error {
  background-color: hsl(0, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

/* Default input label styles */
.input-label {
  color: hsl(200, 24%, 40%);
  background-color: hsl(202, 86%, 94%);
  padding: 10px;
  width: 70px;
}

/* Active label styles */
.input-label.active {
  background-color: hsl(61, 70%, 52%);
  color: hsl(0, 0%, 100%);
}

input {
  background-color: transparent;
  border: none;
  color: hsl(202, 55%, 16%);
  font-weight: 700;
  font-size: 17px;
  padding: 0px 15px;
  width: inherit;
}

input:focus {
  outline: none;
}

@media (min-width: 1024px) {
  .text-input-container {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  .text-input-container .text-input {
    flex: 1;
    max-width: 50%; /* Gör att de två fälten tillsammans tar upp maximalt 100% av bredden */
    box-sizing: border-box; /* Säkra att padding och border räknas inom totalbredden */
  }
}
